<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All products</title>
    <link rel="stylesheet" href="style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
        <div class="container">
            <div class="navbar">
                <div class="logo">
                    <a href="/"><img src="logo-color.png" alt="" width="180px" height="60px"></a>
                </div>
                <nav>
                    <ul id="MenuItems" class="opener">
                        <li><a href="/">Home</a></li>
                        <li><a href="/products">Products</a></li>
                        <li><a href="/about">About</a></li>
                        <li><a href="/contact">Contact</a></li>
                        <li><a href="/account">Account</a></li>
                    </ul>
                </nav>
                <a href="/cart"><div class="cart"><img src="cart.png" width="50px" height="50px"></div></a>
                <div id="cartAmount" class="cartAmount">0</div>
                <img src="menu.png" class="menu-icon" onclick="menutoggle()">
            </div>
            
        </div>


        <!--account page-->
    <div class="account-page">
        <div class="container">
            <div class="row">
                <div class="col-2">
                    <img src="2.jpeg" alt="" width="100%">
                </div>
                <div class="col-2">
                    <div class="form-container">
                        <div class="form-button">
                            <span onclick="login()">Login</span>
                            <span onclick="register()">Register</span>
                            <hr id="indicator">
                        </div>
                        <form id="LoginForm">
                            <input type="text" placeholder="Username">
                            
                            <input type="password" placeholder="Password">
                            <button type="submit" class="button">Login</button>
                        </form>
    
                        <form id="RegForm">
                            <input type="text" placeholder="Username">
                            <input type="email" placeholder="Email">
                            <input type="password" placeholder="Password">
                            <button type="submit" class="button">Register</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        
    </div>

   
      <!--Website Footer-->
      <div class="footer">
        <div class="container">
            <div class="row">
                <div class="footer-col-1">
                    <h3>Download our App</h3>
                    <p>Download App for Android and Ios mobile phone</p>
                    <div class="app-logo">
                        <img src="play-store.png" alt="">
                        <img src="app-store.png" alt="">
                    </div>
                </div>
                <div class="footer-col-2">
                    <img src="logo-white.png" alt="">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum assumenda rerum veniam itaque debitis mollitia ratione.</p>
                </div>
                <div class="footer-col-3">
                    <h3>Useful Links</h3>
                    <ul>
                        <li>Coupons</li>
                        <li>Blog Post</li>
                        <li>Return Policy</li>
                        <li>Join Affiliate</li>
                    </ul>
                </div>
                <div class="footer-col-4">
                    <h3>Follow us</h3>
                    <ul>
                        <li><a href="https://www.facebook.com/MNNITALLD/">Facebook</a></li>
                        <li><a href="https://www.instagram.com/p/C4Dhx1NRQ3D/?igsh=MTQxNnQyeGV1a3VuZA==">Instagram</a></li>
                        <li><a href="https://twitter.com/MNNITALLD">Twitter</a></li>
                        <li><a href="https://youtu.be/xvFZjo5PgG0?feature=shared">Youtube</a></li>
                    </ul>
                </div>
            </div>
        </div>
      </div>

   
      <!--Js for toggle menu-->
      <script>
        var MenuItems=document.getElementById("MenuItems");

        MenuItems.style.maxHeight ="0px";

        function menutoggle(){
            if( MenuItems.style.maxHeight =="0px")
            {
                MenuItems.style.maxHeight ="200px";
            }
            else{
                MenuItems.style.maxHeight ="0px";
            }
        }
      </script>

      <!--js for login form-->
      <script>
        var LoginForm=document.getElementById("LoginForm");
        var RegForm=document.getElementById("RegForm");
        var indicator=document.getElementById("indicator");
        function register(){
            RegForm.style.transform="translateX(0px)";
            LoginForm.style.transform="translateX(0px)";
            indicator.style.transform="translateX(100px)";
        }
        function login(){
            RegForm.style.transform="translateX(300px)";
            LoginForm.style.transform="translateX(300px)";
            indicator.style.transform="translateX(0px)";
        }

      </script>
      
</body>
</html>