<!DOCTYPE html>
<html lang="en">

<head> 
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Clothing Store</title>
  <link rel="stylesheet" href="style.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
</head>

<body>
  
    <div class="navbar">
        <div class="logo">
            <a href="/"><img src="logo-color.png" alt="" width="180px" height="60px"></a>
        </div>
        <nav>
            <ul id="MenuItems" class="opener">
                <li><a href="/">Home</a></li>
                <li><a href="/products">Products</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/contact">Contact</a></li>
                <li><a href="/account">Account</a></li>
            </ul>
        </nav>
        <a href="/cart"><div class="cart"><img src="cart.png" width="50px" height="50px"></div></a>
        <div id="cartAmount" class="cartAmount">0</div>
        <img src="menu.png" class="menu-icon" onclick="menutoggle()">
    </div>
        
        </div>
    

  <div id="label" class="text-center"></div>
    <div class="container">
        <h1>Payment</h1>
        <div id="billAmount"></div>
        <div id="paymentOptions">
          <select id="paymentMethod" onchange="changePaymentMethod()">
            <option value="payOnDelivery">Pay on Delivery</option>
            <option value="payByQRCode">Pay through QR Code</option>
          </select>
          <button id="payButton" onclick="handlePayment()">Place Order</button>
          <a href="/cart">
            <button id="goBackButton">Back to Cart</button>
          </a>
        </div>
        <div id="shopping-cart">
          <!-- Your shopping cart items will be displayed here -->
        </div>
        <div id="label">
          <!-- Label for total bill amount will be displayed here -->
        </div>
      </div>



  <div class="footer">
    <div class="container">
        <div class="row">
            <div class="footer-col-1">
                <h3>Download our App</h3>
                <p>Download App for Android and Ios mobile phone</p>
                <div class="app-logo">
                    <img src="play-store.png" alt="">
                    <img src="app-store.png" alt="">
                </div>
            </div>
            <div class="footer-col-2">
                <img src="logo-white.png" alt="">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum assumenda rerum veniam itaque debitis mollitia ratione.</p>
            </div>
            <div class="footer-col-3">
                <h3>Useful Links</h3>
                <ul>
                    <li>Coupons</li>
                    <li>Blog Post</li>
                    <li>Return Policy</li>
                    <li>Join Affiliate</li>
                </ul>
            </div>
            <div class="footer-col-4">
                <h3>Follow us</h3>
                <ul>
                    <li><a href="https://www.facebook.com/MNNITALLD/">Facebook</a></li>
                    <li><a href="https://www.instagram.com/p/C4Dhx1NRQ3D/?igsh=MTQxNnQyeGV1a3VuZA==">Instagram</a></li>
                    <li><a href="https://twitter.com/MNNITALLD">Twitter</a></li>
                    <li><a href="https://youtu.be/xvFZjo5PgG0?feature=shared">Youtube</a></li>
                </ul>
            </div>
        </div>
    </div>
  </div>


</body>

<!--Js for toggle menu-->
<script>
  var MenuItems=document.getElementById("MenuItems");

  MenuItems.style.maxHeight ="0px";

  function menutoggle(){
      if( MenuItems.style.maxHeight =="0px")
      {
          MenuItems.style.maxHeight ="200px";
      }
      else{
          MenuItems.style.maxHeight ="0px";
      }
  }
</script>
<script src="data.js"></script>
<script src="checkout.js"></script>

</html>